{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "jsdoc",
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsdoc/recommended-typescript"
  ],
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "@typescript-eslint/semi": [
      "error",
      "always"
    ],
    "max-len": [
      "error",
      {
        "code": 150,
        "ignorePattern": "^import.*from.*$",
        "ignoreUrls": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "import/order": "error",
    "jsdoc/require-jsdoc": [
      "error",
      {
        "publicOnly": true,
        "require": {
          "ArrowFunctionExpression": true,
          "ClassDeclaration": true,
          "ClassExpression": true,
          "FunctionDeclaration": true,
          "FunctionExpression": true,
          "MethodDefinition": true
        },
        "contexts": [
          "ArrowFunctionExpression",
          "FunctionDeclaration",
          "FunctionExpression",
          "MethodDefinition",
          "TSDeclareFunction",
          "TSEnumDeclaration",
          "TSInterfaceDeclaration",
          "TSMethodSignature",
          "TSPropertySignature",
          "TSTypeAliasDeclaration"
        ],
        "checkGetters": true
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "*.test.ts",
        "*.fixture.ts"
      ],
      "rules": {
        "max-len": "off",
        "jsdoc/require-jsdoc": "off",
        "@typescript-eslint/no-explicit-any": "off"
      }
    }
  ]
}
